@page
@model IndexModel
@{
    ViewData["Title"] = "UMPS";
    Layout = null;
}

<div class="text-center dark-theme">
    <h1 class="display-4">UMPS</h1>
    <p>Universal Multiplayer Server</p>
</div>
